*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow: hidden;


}
body{
    font-family: sans-serif;
}
/*Navbar*/
.nav{
    text-align: center;
    color: white;
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav h1{
    overflow: visible;
}
.icon{
    overflow: visible;
    font-size: 32px;
    margin: 0 50px;
    cursor: pointer;
}
.icon:first-child{
    color: wheat;
}
.icon:last-child{
    color: gold;
}
/*Sidebar*/
.main-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*scrollbar*/
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: transparent !important;
}
::-webkit-scrollbar-thumb{
    background-color:gray;
    border-radius: 10px;
}
.side{
    position: relative;
    z-index: 1;
    transition: 0.5s;
    text-align: center;
    background-color: black;
    color: white;
    height: 100vh;
    width: 250px;
    overflow-y: scroll;
}
.side-open{
    margin: 0 0;
}
.side-close{
    margin: 0 -250px;
}
/*Main*/
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main{
    position: absolute;
    top: 75px;
}


.görev{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.görev p{
    margin-right: 15px;
}
.görev button{
    padding: 4px;
    cursor: pointer;
}
.metin{
    position:absolute;
    bottom: 0;
    border: 2px black solid;
    border-radius: 5px;
    background-color: blanchedalmond;
    width: 100vw;
    height: 250px;
}
.metin p{
    margin-top: 25px;
    margin-left: 5px;
    font-size: 1.2rem;
}
@media screen and (max-width : 500px) {
    .metin p{
        font-size: 13.5px;
    }
}